<div class="widget-box" id="recent-box" ng-controller="usersController">
<div class="widget-header header-color-blue">
<div class="row">
<div class="col-sm-6">
<h4 class="bigger lighter">
	<i class="glyphicon glyphicon-align-justify"></i>&nbsp;
	USER MANAGER
</h4>
</div>

</div></div>

<div class="widget-body ">
	<form ng-init="addNewClicked=false;" method="POST">
		<div class="form-actions">
			<div class="input-group">
				<input type="text" class="form-control" name="username" ng-model="userInput" placeholder="username" ng-focus="addNewClicked">
				<input type="password" class="form-control" name="password" ng-model="passInput" placeholder="password">
					<div class="input-group-btn">
					<button class="btn btn-default" type="submit" ng-click="addUser(userInput,passInput)"><i class="glyphicon glyphicon-plus"></i>&nbsp;Add New User</button>
					</div>
			</div>
		</div>
	</form>
</div>
</div>



